<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Caesar Cipher Test Suite">
            <file>./tests/CaesarCipherTests.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/CaesarCipher/</directory>
        </whitelist>
    </filter>
</phpunit>
